@font-face {
  font-family: 'Roadgeek 2005 Transport';
  src: url('/fonts/roadgeek-2005-transport-heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Roadgeek 2005 Transport';
  src: url('/fonts/roadgeek-2005-transport-medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
